#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define MOUSE 1
#define SYMBOL 2
#define NUMBER 3
#define FUNCTION 4
#define GAME 5
#define RESET 6
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define THUMBS 30 31 32 33 34 35

&sk {
    release-after-ms = <600>;
    quick-release;
};

&sl { ignore-modifiers; };

&mt { flavor = "tap-preferred"; };

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

&caps_word { /delete-property/ ignore-modifiers; };

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <2000>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <250>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <2000>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <250>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hml_s: hml_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <2000>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr_s: hmr_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <2000>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        smart_shift: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT>, <&caps_word>;

            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";
        timeout-ms = <20>;
        require-prior-idle-ms = <250>;

        combo_normal {
            key-positions = <7 8>;
            bindings = <&to 0>;
        };

        combo_fn {
            key-positions = <27 28>;
            bindings = <&sl 4>;
        };

        combo_genshin {
            key-positions = <5 9>;
            bindings = <&to 4>;
        };

        combo_esc {
            key-positions = <1 2>;
            bindings = <&kp ESCAPE>;
        };

        combo_tab {
            key-positions = <2 3>;
            bindings = <&kp TAB>;
        };

        combo_cdel {
            key-positions = <11 12>;
            bindings = <&kp LC(BACKSPACE)>;
        };
    };

    chosen { zmk,physical-layout = &charybdis_6col_layout; };

    macros {
        alt_shift: alt_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>;

            label = "ALT_SHIFT";
        };

        terminal: terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp GRAVE>,
                <&macro_release>,
                <&kp LEFT_WIN &kp GRAVE>;

            label = "TERMINAL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        //&trans &kp ESC        &kp Q       &kp W      &kp E     &kp R           &kp T   &kp Y  &kp U           &kp I        &kp O     &kp P      &kp LBKT   &trans
        //&mt LCTRL TAB  &kp A       &kp S      &kp D     &kp F           &kp G   &kp H  &kp J           &kp K        &kp L     &kp SEMI   &kp SQT
        //&kp LSHFT      &kp Z       &kp X      &kp C     &kp V           &kp B   &kp N  &kp M           &kp COMMA    &kp DOT   &kp FSLH   &mt RALT GRAVE
        //               &kp LGUI    &mo 1      &lt NAVI RET              &kp SPACE       &kp BSPC    &kp CAPSLOCK

        Base {
            display-name = "Base";
            bindings = <
&kp ESC         &kp Q    &kp W  &kp E      &kp R         &kp T        &kp Y        &kp U            &kp I      &kp O       &kp P          &kp BACKSPACE
&kp TAB         &lt 3 A  &kp S  &kp D      &kp F         &kp G        &kp H        &kp J            &kp K      &kp L       &kp SEMICOLON  &kp LEFT_WIN
&kp LEFT_SHIFT  &kp Z    &kp X  &kp C      &kp V         &kp B        &kp N        &kp M            &kp COMMA  &kp PERIOD  &kp SQT        &alt_shift
                                &kp LCTRL  &kp LEFT_ALT  &kp SPACE    &lt 1 ENTER  &lt 2 BACKSPACE
            >;
        };

        Num {
            display-name = "Number";
            bindings = <
&trans  &none  &kp HOME  &kp UP_ARROW  &kp END    &kp INSERT       &none         &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none  &trans
&trans  &none  &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_UP      &none         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none  &trans
&trans  &none  &none     &kp CAPSLOCK  &none      &kp PAGE_DOWN    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &trans
                         &trans        &trans     &trans           &trans        &trans
            >;
        };

        Sym {
            display-name = "Symbol";
            bindings = <
&trans  &none      &kp DOLLAR       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE        &kp GRAVE  &kp TILDE  &kp LESS_THAN  &kp GREATER_THAN  &kp BACKSLASH      &trans
&trans  &none      &kp AT_SIGN      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON       &kp PLUS   &kp MINUS  &kp SLASH      &kp ASTRK         &kp SINGLE_QUOTE   &trans
&trans  &kp POUND  &kp EXCLAMATION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp QUESTION    &kp AMPS   &kp EQUAL  &kp UNDER      &kp PERCENT       &kp DOUBLE_QUOTES  &trans
                                    &trans                &trans                 &trans          &trans     &trans
            >;
        };

        Fun {
            display-name = "Function";
            bindings = <
&trans  &terminal  &kp F7  &kp F8  &kp F9  &kp F10    &kp PRINTSCREEN  &msc SCRL_UP    &mkp RCLK         &mkp MB3  &none  &trans
&trans  &none      &kp F4  &kp F5  &kp F6  &kp F11    &msc SCRL_UP     &mkp MB1        &mkp MB2          &mkp MB3  &none  &trans
&trans  &none      &kp F1  &kp F2  &kp F3  &kp F12    &msc SCRL_DOWN   &msc SCRL_DOWN  &kp K_PLAY_PAUSE  &kp B     &none  &trans
                           &trans  &trans  &trans     &trans           &trans
            >;
        };

        Button {
            display-name = "Game";
            bindings = <
&kp ESCAPE      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5       &none  &mkp MB1  &mkp MB2  &mkp MB3  &none  &trans
&kp TAB         &kp Z         &kp Q         &kp W         &kp E         &kp R        &none  &none     &none     &none     &none  &trans
&kp LEFT_SHIFT  &kp X         &kp A         &kp S         &kp D         &kp F        &none  &none     &none     &none     &none  &trans
                                            &kp C         &kp LCTRL     &kp SPACE    &kp N  &kp M
            >;
        };
    };
};
